{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luga khoj</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1>Luga khoj</h1>
        </div>

        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'registration' %}">Registration</a></li>

          </ul>
        </nav>
      </div>
    </header>
    <section class="hero">
      <div class="container-two">
        <h2>Welcome to our Luga khoj Store</h2>
        <p>Discover a wide range of products at great prices.</p>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </section>
    <footer class="footer">
      <div class="container-three">
        <p>&copy; 2024 Luga khoj. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
